 .submit-btn {
     min-height: 5px;
     text-transform: none;
     padding: 7px;
 }

 .cancel-btn {
     min-height: 5px;
     text-transform: none;
     padding: 7px;
 }

 input[type=file].form-control {
     height: 27px;
 }

 .dotted-line {
     border-top: 1px dotted #000;
 }

 .mb-25 {
     margin-top: 20px !important;
 }

 .form-check-input {
     margin-top: -2px;
     width: 1.5em;
     height: 1.5em;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
 }
 .alert {
    width: 100% !important;
    margin-left: 0% !important;
    --bs-alert-padding-y: 0.2rem;
    margin-bottom: 15px;
    margin-top: -15px;
}