.add-btn {
    min-width: 70px; //Modified-Sena    
    border-radius: 5px !important;
    height: 32px !important;
}

.input-block {
    margin-bottom: 0rem;
}

.add-btn i {
    margin-right: 0px !important;
}

.btn[_ngcontent-ng-c1018707415] {
    min-height: 1px;
    margin: 4px;
}
.alert[_ngcontent-ng-c2951278241] {
    font-size: 11px;
    width: 121% !important;
    margin-left: 0% !important;
    --bs-alert-padding-y: 0.3rem;
    margin-bottom: 12px;
    margin-top: 7px;
}
.filter-row .btn {
    min-height: 5px;
    text-transform: uppercase;
    padding: 7px;
}

.alert {
    font-size: 11px;
    width: 82% !important;
    margin-left: 2% !important;
    --bs-alert-padding-y: 0.3rem;
    margin-bottom: 15px;
    margin-top: -7px;
}

.table {
    padding: 0;
    background: #ffffff;
    margin-bottom: 70px;
}

.mb-26 {
    margin-top: 20px;
}

.mb-25 {
    margin-bottom: 20px;
}

#TextBox {
    border-color: #e3e3e3;
    box-shadow: none;
    font-size: 12px;
    height: 30px;
    line-height: 1;
    width: 120px;
}

.custom-small-btn {
    padding: 0.1rem 0.2rem;
    font-size: 0.75rem;
    position: relative;
    bottom: 9px;
    right: 5px;
}