.chat-main-row.chat-page {
    top: 60px;
}

#loader-wrapper {
    background-color: #ffffffab !important;
}

.alert {
    width: 89% !important;
    margin-left: 5% !important;
    --bs-alert-padding-y: 0.3rem;
    margin-bottom: 1px;
    margin-top: 15px;
}

body {

    font-size: 10px;

}