.add-btn {
    min-width: 70px; //Modified-Sena    
    border-radius: 5px !important;
    height: 32px !important;
}

.input-block {
    margin-bottom: 0rem;
}

.add-btn i {
    margin-right: 0px !important;
}

.btn[_ngcontent-ng-c1018707415] {
    min-height: 1px;
    margin: 4px;
}

.filter-row .btn {
    min-height: 5px;
    text-transform: uppercase;
    padding: 7px;
}

// delete alert
.alert {
    font-size: 15px;
    width: 82% !important;
    margin-left: 9% !important;
    --bs-alert-padding-y: 0.3rem;
    margin-bottom: 1px;
    margin-top: 18px;
}

.table {
    padding: 0;
    background: #ffffff;
    margin-bottom: 70px;
}